/* Containers */
/* Breakpoints */
/* -----------------
* Typography
----------------- */
/* -----------------
* Borders
----------------- */
/* -----------------
* Forms
----------------- */
/* -----------------
* Tables
----------------- */
/* nav */
.dropdown-wrapper {
  display: flex;
  align-items: center;
  grid-gap: 0;
}

@media (min-width: 48rem) {
  .dropdown-wrapper {
    grid-gap: 0.5rem;
  }
}

.dropdown-wrapper img {
  width: 1.5rem;
  border-radius: 7px;
}

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 2;
  border-radius: 30%;
  cursor: pointer;
  padding: 0.5rem 0.8rem 0.6rem 0.8rem;
}

.dropdown i {
  border-color: #3c3c3c;
}

.dropdown:hover, .dropdown:active {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-content {
  position: absolute;
  top: 50px;
  background-color: #fff;
  min-width: 345px;
  z-index: 1;
  right: 0;
  border-radius: 12px;
}

.dropdown-content .dropdown-content-login {
  border-top: 2px solid #ECECEC;
}

.dropdown-content a {
  display: block;
  padding: 0.75rem;
}

.dropdown-content a:hover {
  background: rgba(203, 203, 203, 0.1);
}

.dropdown-content a:first-child:hover {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.dropdown-content a:last-child:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.nav-profile-link-img:hover, .nav-profile-link-img:active {
  padding: 0.5rem 0.5rem 0.35rem 0.5rem;
  margin: -0.5rem -0.5rem -0.35rem -0.5rem;
  border-radius: 30%;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-profile-link-text:hover, .nav-profile-link-text:active {
  padding: 0.5rem 0.5rem 0.6rem 0.5rem;
  margin: -0.5rem -0.5rem -0.6rem -0.5rem;
  border-radius: 30%;
  background-color: rgba(0, 0, 0, 0.05);
}

/* index pg */
.main-heading {
  width: 100%;
  background-color: #5A45FF;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  .main-heading {
    margin-bottom: 2rem;
  }
}

.main-heading p {
  text-transform: none;
  font-size: 14.45px;
  color: #fff;
}

.container-featured-header {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 48rem) {
  .container-featured-header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 720px;
  }
}

@media (min-width: 62rem) {
  .container-featured-header {
    max-width: 960px;
  }
}

.featured-header {
  background-color: #fff;
  margin-top: 1rem;
  display: grid;
  align-items: start;
  justify-content: center;
  border-radius: 20px;
}

.featured-header div:nth-of-type(1) {
  order: 2;
}

.featured-header div:nth-of-type(2) {
  order: 1;
}

@media (min-width: 48rem) {
  .featured-header {
    grid-template-columns: 1fr 1.5fr;
  }
  .featured-header div:nth-of-type(1) {
    order: 1;
  }
  .featured-header div:nth-of-type(2) {
    order: 2;
  }
}

.featured-header .featured-content {
  padding: 1rem 1rem 2rem;
}

@media (min-width: 48rem) {
  .featured-header .featured-content {
    padding: 2rem;
  }
}

.featured-header .featured-post-image {
  height: 250px;
  overflow: hidden;
}

@media (min-width: 48rem) {
  .featured-header .featured-post-image {
    border-top-left-radius: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    height: 100%;
    overflow: hidden;
  }
}

.featured-header .featured-post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

@media (min-width: 48rem) {
  .featured-header .featured-post-image img {
    border-top-left-radius: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }
}

.featured-header .featured-post-image img:hover, .featured-header .featured-post-image img:active {
  filter: saturate(130%);
  transform: scale(1.05);
  transition: transform .6s;
}

.featured-header h1 {
  color: #0E0E0E;
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .featured-header h1 {
    font-size: 2.3375rem;
    margin-top: 2rem;
  }
}

.featured-header h6 {
  border-bottom: 1px solid #909090;
  padding-bottom: 0.5rem;
}

.featured-header p {
  font-size: 1.125rem;
  line-height: 1.8rem;
  color: #3c3c3c;
}

/* card */
.delete-card {
  animation: deleteCard 0.3s cubic-bezier(0.29, 0.06, 0.56, 0.32) forwards;
}

.card-post-wrapper {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.5rem;
  overflow: visible;
}

.card-post-wrapper:not(:first-child) {
  margin-top: 2rem;
}

.card-post-wrapper:not(:last-child) {
  border-bottom: 1px solid #f6f6f6;
}

@media (min-width: 48rem) {
  .card-post-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    row-gap: 2.5rem;
    border-bottom: 0;
  }
}

.card-post-wrapper h5 {
  font-weight: 700;
  color: #0E0E0E;
}

.card-post-wrapper p {
  color: #3c3c3c;
  line-height: 1.325;
  font-size: 14.45px;
}

@media (min-width: 48rem) {
  .card-post-wrapper p {
    font-size: 17px;
  }
}

.card-post {
  display: grid;
  grid-template-rows: max-content;
  align-items: start;
  grid-gap: 0.8rem;
  border-radius: 20px;
  background-color: #fff;
  padding-bottom: 1rem;
  height: 100%;
}

.card-post .card-post-img {
  height: 150px;
  overflow: hidden;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

@media (min-width: 48rem) {
  .card-post .card-post-img {
    height: 200px;
  }
}

.card-post .card-post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.card-post .card-post-img img:hover, .card-post .card-post-img img:active {
  object-fit: cover;
  filter: saturate(130%);
  transform: scale(1.08);
  transition: transform .6s;
}

.card-post .card-post-detail {
  padding: 0 1rem;
}

.card-post .card-post-btns {
  font-size: 14.45px;
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;
}

.card-post .card-post-answered {
  margin: 0 1rem;
  color: #5A45FF;
}

/* post pg */
.animate-heading {
  animation: showSection 0.8s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}

.post-heading-p {
  font-size: 1.125rem;
  line-height: 1.8rem;
  letter-spacing: -0.1px;
  margin-top: 1rem;
}

.post-bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.post-bio div:not(:last-child) {
  margin-right: 0.5rem;
}

.post-bio div:not(:last-child):after {
  padding: 0.35rem;
}

.post-category {
  display: inline-block;
  font-size: 14.45px;
  padding: .1rem .6rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #3c3c3c;
}

.post-timestamp {
  display: flex;
  align-items: center;
}

.post-creator {
  display: flex;
  align-items: center;
}

.post-creator img {
  width: 1.5rem;
  border-radius: 7px;
  margin-right: 0.5rem;
}

.header-category {
  display: grid;
  align-items: center;
  justify-content: start;
  position: relative;
  background: #ECECEC;
  border-radius: 20px;
  padding: 1rem;
  margin-top: 3rem;
}

@media (min-width: 36rem) {
  .header-category {
    height: 150px;
    margin-top: 4rem;
    padding: 1.5rem;
  }
}

.header-category h3 {
  font-size: 1.105rem;
  font-weight: 700;
  color: #5A45FF;
}

@media (min-width: 36rem) {
  .header-category h3 {
    font-size: 1.625rem;
    font-weight: 900;
  }
}

.header-category .candidate-add-vs span:not(:last-child):after {
  content: ' Or';
}

.header-category img {
  position: absolute;
  width: 37%;
  justify-self: right;
}

@media (min-width: 48rem) {
  .header-category img {
    width: 50%;
  }
}

.container-question {
  padding: 3rem 0;
}

@media (min-width: 48rem) {
  .container-question {
    padding: 4rem 0;
  }
}

.border-question:not(:last-child) {
  border-bottom: 3px solid #CBCBCB;
}

.card-qa {
  display: grid;
  grid-gap: 0.4rem;
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .card-qa {
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  display: grid;
  grid-template-rows: max-content;
  cursor: pointer;
  height: 100%;
  background-color: rgba(90, 69, 255, 0.1);
  padding: 2rem 1rem;
  border-radius: 20px;
}

@media (min-width: 48rem) {
  .radio-group label {
    padding: 2rem;
  }
}

.radio-group label a {
  text-decoration: none;
}

.radio-group label:hover, .radio-group label:active {
  background-color: #5A45FF;
}

.radio-group label:hover .check-box, .radio-group label:active .check-box {
  background-color: #5A45FF;
  border: 1px solid #eceafd;
}

.radio-group label:hover h4, .radio-group label:hover p, .radio-group label:active h4, .radio-group label:active p {
  color: #fff;
}

.radio-group .check-box {
  display: grid;
  align-self: end;
  justify-self: end;
  margin-top: 1rem;
  border: 1px solid #5A45FF;
  border-radius: 10px;
  height: 2rem;
  width: 2rem;
}

@media (min-width: 36rem) {
  .radio-group .check-box {
    margin-top: auto;
  }
}

.radio-group input[type="radio"]:checked + label {
  background-color: #5A45FF;
}

.radio-group input[type="radio"]:checked + label h4, .radio-group input[type="radio"]:checked + label p {
  color: #fff;
}

.radio-group input[type="radio"]:checked + label .check-box {
  background-color: #5A45FF;
  border: 1px solid #eceafd;
}

.radio-group h4 {
  color: #5A45FF;
  font-weight: 900;
  letter-spacing: 0.75px;
}

.radio-group p {
  color: #5A45FF;
}

.result-btn .arrow .down {
  margin: 0 0 0.15rem 0.5rem;
}

.result-btn .arrow .right {
  margin: 0 0 0 0.1rem;
}

.section-results {
  padding: 2rem 0;
}

.card-result {
  padding: 1.5rem 0;
}

.card-result h2 {
  color: rgba(90, 69, 255, 0.7);
  text-transform: none;
}

@media (min-width: 48rem) {
  .card-result h1 {
    font-size: 1.87rem;
  }
}

.candidate-profile-wrapper {
  display: grid;
  grid-gap: 2rem;
  margin-top: 3rem;
  justify-items: start;
  align-items: center;
}

@media (min-width: 48rem) {
  .candidate-profile-wrapper {
    grid-template-columns: 1fr 2fr;
  }
}

.candidate-profile-details {
  grid-column: 2 / -1;
  display: grid;
  grid-gap: 1rem;
}

.candidate-profile-photo {
  justify-self: start;
  align-self: start;
  filter: brightness(1);
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}

@media (min-width: 48rem) {
  .candidate-profile-photo {
    justify-self: center;
  }
}

.candidate-profile-photo img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.user-answers-section {
  margin-top: 2rem;
  border-top: 3px solid #fff;
}

.user-answers-section .user-answers-heading {
  padding: 1rem 0;
}

.card-answers-wrapper {
  display: grid;
  align-items: start;
  row-gap: 1rem;
}

@media (min-width: 48rem) {
  .card-answers-wrapper {
    grid-gap: 1rem;
  }
}

.card-answer {
  display: grid;
  align-items: start;
  grid-gap: 0.25rem;
  padding: 1rem 0;
  height: 100%;
}

.card-answer:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.card-answer .card-answer-source {
  align-self: end;
}

.card-answer h4 {
  font-size: 1.16875rem;
}

.card-answer h6 {
  text-transform: capitalize;
  color: #5A45FF;
}

.related-posts {
  margin-top: 2rem;
}

.card-related-wrapper {
  display: grid;
  align-items: start;
  grid-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.card-related-wrapper .related-heading {
  grid-column: 1 / -1;
  color: #3c3c3c;
}

@media (min-width: 48rem) {
  .card-related-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    row-gap: 1rem;
  }
}

.card-related {
  display: grid;
  align-items: start;
  grid-gap: 1rem;
  height: 100%;
  background-color: #f6f6f6;
  padding: 1rem;
}

@media (min-width: 48rem) {
  .card-related {
    padding: 2rem 1rem;
    grid-gap: 2rem;
  }
}

.card-related .card-related-btns {
  font-size: 14.45px;
  display: flex;
  justify-content: flex-end;
}

.card-related h5 {
  color: #909090;
  font-size: 1.0625rem;
}

.card-related h6 {
  text-transform: capitalize;
  color: #eceafd;
}

/* profile pg */
.profile-all {
  display: grid;
  grid-gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 48rem) {
  .profile-all {
    grid-template-columns: 1fr 3fr;
  }
}

.profile-user-bio div {
  margin-bottom: 1rem;
}

.profile-user-bio .profile-image img {
  width: 20%;
  border-radius: 20px;
}

@media (min-width: 48rem) {
  .profile-user-bio .profile-image img {
    width: 50%;
  }
}

.profile-user-bio .profile-name a {
  color: #4978ff;
}

.profile-user-bio .profile-description {
  padding: 1rem 0;
  border-top: 1px solid #909090;
}

.profile-section:not(:last-child) {
  border-bottom: 3px solid #CBCBCB;
  padding: 0 0 2rem;
}

.profile-user-activity {
  display: grid;
}

.card-posts-profile-wrapper {
  display: grid;
  align-items: start;
  row-gap: 2rem;
}

@media (min-width: 48rem) {
  .card-posts-profile-wrapper {
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-posts-profile-heading {
  grid-column: 1 / -1;
}

.card-posts-profile-heading a {
  color: #4978ff;
}

.card-post-no-border {
  display: grid;
  align-items: start;
  grid-gap: 1rem;
  border-radius: 20px;
}

.card-post-no-border .card-post-img-no-border {
  height: 200px;
}

.card-post-no-border .card-post-img-no-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

/* login logout */
.form-container {
  margin-top: 2rem;
  background-color: #f6f6f6;
  padding: 2rem;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
}

@media (min-width: 48rem) {
  .form-container {
    width: 400px;
  }
}

.form-login {
  display: grid;
  margin-top: 1rem;
  grid-gap: 1rem;
  width: 100%;
}

.form-login input {
  border: 1px solid #909090;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  padding: 0.75rem;
}

.form-login button {
  border-radius: 10px;
  background: #5A45FF;
  padding: 0.85rem;
  color: #fff;
}

.form-redirect {
  padding: 1rem 0;
}

/* icons */
.multi-icons i:not(:last-child) {
  margin-right: .2rem;
}

.menu {
  border: solid #fff;
  border-width: 2px 0 2px 0;
  display: inline-block;
  padding: 2px 6px;
}

.arrow {
  border: solid #909090;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
}

.right {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.down {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#bookmark-btn:hover, #bookmark-btn:active {
  padding: 0.4rem;
  margin: -0.4rem;
  border-radius: 30%;
  background-color: rgba(0, 0, 0, 0.05);
}

.bookmark {
  fill: #3c3c3c;
}

.bookmark:hover, .bookmark:active {
  fill: #4978ff;
}

.bookmark-post {
  fill: #3c3c3c;
}

.bookmark-post:hover, .bookmark-post:active {
  fill: #4978ff;
}

.bookmarked {
  fill: #4978ff;
}

.read-time {
  margin: 0 1rem;
}

.check {
  height: 18px;
  width: 18px;
  fill: #4978ff;
  justify-self: center;
  align-self: center;
}

.checkmark {
  width: 25px;
  height: 25px;
  display: block;
  justify-self: center;
  align-self: center;
  margin: -10px 0 0 5px;
  stroke-width: 3;
  stroke-miterlimit: 10;
  animation: scale .2s ease-in-out .1s both;
}

.checkmark__check {
  stroke: #fff;
  stroke-dasharray: 64;
  stroke-dashoffset: 64;
  animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.1s forwards;
}

/* animation */
@keyframes deleteCard {
  100% {
    opacity: 0;
    transform: translate(-15rem, 0) scale(0);
  }
}

@keyframes showSection {
  0% {
    opacity: 0;
    transform: translateY(3rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

/** 
* Normalize scss reset and typography properties for browser 
* compatibility and clean base for designers and developers
*/
/**
* 1 correct line height on all browsers
* 2 prevent adjustments of font size after orientation changes in iOS
 */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/** 
 * 1 remove margin in all browsers 
 * 2 render `main` element consistently in IE
 */
body {
  margin: 0;
  /* 1 */
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
  /* 2 */
}

/**
 * 1 correct font size and margin on `h1` element within `section` and
 * `article` contexts in Chrome, Firefox, and Safari
 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  /* 1 */
  font-size: inherit;
  /* reset */
  font-weight: inherit;
  /* reset */
}

/**
* 1 a dd correct box sizing in Firefox
* 2 show overflow in Edge and IE 
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/** 
* 1 correct inheritance and scaling of font size in all browsers
* 2 correct `em` font sizing in all browsers
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 17px;
}

/** 
* 1 remove the gray background on active links in IE 10
* resets
*/
a {
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  background-color: transparent;
  /* 1 */
  text-decoration: none;
  /* reset */
  color: inherit;
  /* reset */
  cursor: pointer;
  /* reset */
  -webkit-tap-highlight-color: transparent;
  /* reset */
}

/** 
* 1 remove bottom border in Chrome 57-
* 2 add correct text decoration in Chrome, Edge, IE, Opera, and Safari 
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/** 
* add correct font weight in Chrome, Edge, and Safari 
*/
b, strong {
  font-weight: bolder;
}

/** 
* 1 correct inheritance and scaling of font size in all browsers
* 2 correct `em` font sizing in all browsers
*/
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 17px;
  /* 2 */
}

small {
  font-size: 13.6px;
}

/**
* prevent `sub` and `sup` elements from affecting line height in
* all browsers
*/
sub, sup {
  font-size: 12.75px;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.2rem;
}

sup {
  top: -0.4rem;
}

/** 
* remove border on images inside links in IE 10
*/
img {
  border-style: none;
}

/** 
* 1 change font styles in all browsers
* 2 remove margin in Firefox and Safari
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  background-color: transparent;
  /* reset */
  color: inherit;
  /* reset */
  border-width: 0;
  /* reset */
  border-color: none;
  /* reset */
  border-style: none;
  /* reset */
  border-image: none;
  /* reset */
  padding: 0;
  /* reset */
  cursor: pointer;
  /* reset */
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: none;
  /* reset */
  box-shadow: none;
  /* reset */
}

/** 
* show overflow in IE
* 1 show overflow in Edge
*/
button,
input {
  overflow: visible;
  /* 2 */
}

/**
* remove inheritance of text transform in Edge, Firefox, and IE
* 1 remove the inheritance of text transform in Firefox
*/
button,
select {
  text-transform: none;
  /* 1 */
}

/** 
* correct inability to style clickable types in iOS and Safari
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/** 
* remove inner border and padding in Firefox 
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  /* reset */
  padding: 0;
  /* reset */
  margin: 0;
  /* reset */
}

/** 
* 1 correct text wrapping in edge and IE
* correct color inheritance from `fieldset` elements in IE
* remove padding so developers are not caught out when they zero out
* `fieldset` elements in all browsers
*/
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */
  padding: 0;
  /* 3 */
}

/** 
* add correct vertical alignment in Chrome, Firefox, and Opera
*/
progress {
  vertical-align: baseline;
}

/**
* remove default vertical scrollbar in IE 10+ 
*/
text-area {
  overflow: hidden;
}

/** 
* 1 add correct box sizing in IE 10
* 2 remove padding in IE 10 
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/** 
* correct cursor style of increment and decrement buttons in Chrome 
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/** 
* 1 correct appearance in Chrome and Safari 
* 2 correct outline style in Safari 
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/** 
* remove inner padding in Chrome and Safari on macOS
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/** 
* 1 correct inability to style clickable types in iOS and Safari 
* 2 change properties to `inherit` in Safari
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/** 
* add correct display in Edge, IE 10+ and Firefox 
*/
details {
  display: block;
}

/**
* add correct display on all browsers 
*/
summary {
  display: list-item;
}

/** 
* add correct display in IE 10+ 
*/
template {
  display: none;
}

/** 
* add correct display in IE 10 
*/
[hidden] {
  display: none;
}

/** 
* resets 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol, dd, dl {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font: "Roboto", "Open Sans", "Helvetica", sans-serif 17px normal 400 1.56;
  color: #3c3c3c;
  letter-spacing: -0.2px;
  position: relative;
  min-height: 100vh;
}

@media (min-width: 48rem) {
  body {
    letter-spacing: 0.3;
  }
}

.color-light-purple {
  color: #eceafd;
}

.color-purple {
  color: #5A45FF;
}

.bg-black {
  background-color: #000;
}

.bg-near-black {
  background-color: #0E0E0E;
}

.bg-dark-gray {
  background-color: #151515;
}

.bg-near-white {
  background-color: #ECECEC;
}

.bg-gray {
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 0.15rem;
  margin-bottom: 0;
}

h1 {
  font-size: 2.2rem;
  font-weight: 900;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 2.75rem;
    margin-top: 1rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 48rem) {
  h2 {
    font-size: 1.875rem;
  }
}

h3 {
  font-size: 1.3rem;
}

@media (min-width: 48rem) {
  h3 {
    font-size: 1.625rem;
  }
}

h4 {
  font-size: 1.1rem;
}

@media (min-width: 48rem) {
  h4 {
    font-size: 1.375rem;
  }
}

h5 {
  font-size: 1rem;
}

@media (min-width: 48rem) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #909090;
}

@media (min-width: 48rem) {
  h6 {
    font-size: 0.875rem;
  }
}

p {
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.04px;
}

article {
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  margin-top: 2rem;
}

article h1, article h2, article h3, article h4, article h5 {
  color: #0E0E0E;
}

article p {
  color: #3c3c3c;
}

article a {
  color: #4978ff;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.gray {
  color: #909090;
}

.small {
  font-size: 14.45px;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 48rem) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 720px;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 960px;
  }
}

.container-post {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 48rem) {
  .container-post {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 720px;
  }
}

.container-image {
  margin-left: 0;
  margin-right: 0;
  min-height: 200px;
  max-height: 500px;
  overflow: hidden;
}

.container-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.container-result {
  border-radius: 20px;
  background: rgba(203, 203, 203, 0.2);
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 48rem) {
  .container-result {
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 720px;
  }
}

nav a {
  color: #3c3c3c;
}

nav a:hover, nav a:active {
  color: #4978ff;
}

.nav {
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  font-weight: 400;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-links {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}

@media (min-width: 48rem) {
  .nav .nav-links {
    grid-gap: 1rem;
  }
}

.nav .link {
  font-size: 14.45px;
  color: #3c3c3c;
  border-radius: 12px;
  padding: .5rem 1rem;
}

.nav .link:hover, .nav .link:active {
  color: #4978ff;
  background-color: rgba(0, 0, 0, 0.05);
}

.nav .nav-link-bg {
  background-color: rgba(0, 0, 0, 0.05);
}

.logo svg {
  fill: #000;
  width: 4rem;
}

/* main */
main {
  padding-bottom: 8rem;
}

main a:hover, main a:active {
  color: #4978ff;
}

/* footer */
footer {
  font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
  border-top: 1px solid #CBCBCB;
  position: absolute;
  bottom: 0;
  color: #909090;
  width: 100%;
}

footer a:hover, footer a:active {
  color: #4978ff;
}

footer .footer-content {
  padding: 2rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

footer .logo-footer {
  margin-right: 2rem;
}

footer .logo-footer svg {
  fill: #909090;
  width: 3rem;
}
