/* Containers */
$containers: (
    'sm': 540px,
    'md': 720px,
    'lg': 960px,
    'xl': 1140px,
) !default;

/* Breakpoints */ 
$breakpoints: (
    'xs': 0rem,
    'sm': 36rem,
    'md': 48rem,
    'lg': 62rem,
    'xl': 75rem,
) !default;

// fonts
// $font-family-serif: 'Georgia', 'Times New Roman', serif !default;
$font-family-sans-serif: "Roboto", "Open Sans", "Helvetica", sans-serif !default;
$font-size: 16px !default;
$line-height: 1.6 !default;
$font-style: normal !default;
$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-700: 700 !default;
$font-weight-900: 900 !default;

// post font sizes
$font-size-18: 1.125rem;
$line-height-18: 1.7rem;
$font-size-20: 1.3rem;
$line-height-20: 2rem;

// colors
$font-color: #555555 !default;
$black: #000 !default;
$near-black: #0E0E0E !default;
$dark-gray: #151515 !default;
$main-heading-gray: #1b1b1b !default;
$gray: #909090 !default;
$light-gray: #CBCBCB !default;
$near-white: #ECECEC !default;
$white: #fff !default;
$dark-purple: #2d0068 !default;
$purple: #5A45FF !default;
$light-purple: #7e6eff !default;
$cyan: #93f8fd !default;
$dark-navy: #131720 !default;
$navy: #2963a0 !default;

// container
$container-margin: auto !default;
$container-width: 100% !default;
$container-mobile-margin: 1rem !default;

/* -----------------
* Typography
----------------- */ 

// Body
$small: 0.85 !default;
$letter-spacing-body: 0.3 !default;

// Mobile
$letter-spacing-mobile: -0.2px;

// Headings
$heading-line-height: 1.2 !default;
$heading-letter-spacing: -0.1px !default;
$heading-margin-top: 0.15rem !default;

// heading font-size
$h1-sm: 2.2rem !default;
$h2-sm: 1.5rem !default;
$h3-sm: 1.3rem !default;
$h4-sm: 1.1rem !default;
$h5-sm: 1rem !default;
$h6-sm: 0.7rem !default;

$multiplier: 1.25 !default;
$h1: $h1-sm * $multiplier !default;
$h2: $h2-sm * $multiplier !default;
$h3: $h3-sm * $multiplier !default;
$h4: $h4-sm * $multiplier !default;
$h5: $h5-sm * $multiplier !default;
$h6: $h6-sm * $multiplier !default;

// footnote
// $footnote-size: 15px !default;

// /* -----------------
// * Spacing
// ----------------- */ 
$padding-1: 1rem !default;
$padding-2: 2rem !default;
$margin-1: 1rem !default;
$margin-2: 2rem !default;

/* -----------------
* Borders
----------------- */ 
$border: #EBEBEB !default;
$border-width: 1px !default;
$border-width-5: 5px !default;
$border-style: solid !default;
$borders: $border-width $border-style $border !default;

// /* -----------------
// * Buttons
// ----------------- */ 
// $button-active: $primary-color !default;
// $button-color: $background !default;
// $button-font-weight: 500 !default;
// $button-font-size: calc($font-size * 1.1) !default;
// $button-letter-spacing: -0.1px !default;
// $button-border-style: solid !default;
// $button-border-color: transparent !default;
// $button-border-radius: 10px !default;
// $button-background-color: transparentize($color: $primary-color, $amount: 0.1) !default;
// $button-disabled-background-color: transparentize($primary-color, 0.9) !default;
// $button-disabled-font-color: transparentize($primary-color, 0.5) !default;


/* -----------------
* Forms
----------------- */ 
// $input-background: #f3f6ff !default;
// $placeholder: scale($secondary-color, 20%) !default;
// $form-border: none !default;
// $form-border-hover: none !default;
// $form-border-focus: none !default;

/* -----------------
* Tables
----------------- */
