@import 'variables';
@import 'mixins';

@import 'components';
@import 'reset';

body {
    font: $font-family-sans-serif $font-size $font-style $font-weight-400 $line-height;
    color: $font-color;
    letter-spacing: $letter-spacing-mobile;
    @include screen(md) {
        letter-spacing: $letter-spacing-body;
    }
    position: relative;
    min-height: 100vh;
}
.color-purple { color: $purple; }
.bg-black { background-color: $black; }
.bg-near-black { background-color: $near-black; }
.bg-dark-gray { background-color: $dark-gray; }
.bg-near-white { background-color: $near-white; }
.bg-gray { background-color: lighten($gray, 41%);}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif;
    line-height: $heading-line-height;
    font-weight: $font-weight-500;
    letter-spacing: $heading-letter-spacing;
    margin-top: $heading-margin-top;
    margin-bottom: 0;
    // text-transform: capitalize;
}

h1 {
    font-size: $h1-sm;
    font-weight: $font-weight-900;
    @include screen(md) {
        font-size: $h1;
        margin-top: $margin-1;
    }
}
h2 {
    font-size: $h2-sm;
    @include screen(md) {
        font-size: $h2;
    }
}
h3 {
    font-size: $h3-sm;
    @include screen(md) {
        font-size: $h3;
    }
}
h4 {
    font-size: $h4-sm;
    @include screen(md) {
        font-size: $h4;
    }
}
h5 {
    font-size: $h5-sm;
    @include screen(md) {
        font-size: $h5;
    }
}

// heading label
h6 {
    font-size: $h6-sm;
    text-transform: uppercase;
    font-weight: $font-weight-400;
    letter-spacing: 0.5px;
    @include screen(md) {
        font-size: $h6;
    }
}
p { font-family: $font-family-sans-serif; }

// article
article {
    font-family: $font-family-sans-serif;
    margin-top: $margin-2;
    h1, h2, h3, h4, h5 { color: $white; }
    h6 { color: $font-color; }
    p { color: $light-gray; }
    
}
.mt-1 {
    margin-top: $margin-1;
}
.mt-2 {
    margin-top: $margin-2;
}

// colors
.gray {
    color: $gray;
}

// font
// .sans-serif {
//     font-family: $font-family-sans-serif;
// }
.small {
    font-size: $font-size * $small;
}

// container
.container {
    margin-left: $container-mobile-margin;
    margin-right: $container-mobile-margin;
    @include screen(md) {
        margin-left: $container-margin;
        margin-right: $container-margin;
        width: $container-width;
        @include container(md);
    }
    @include screen(lg) {
        @include container(lg);
    }
}
.container-post {
    margin-left: $container-mobile-margin;
    margin-right: $container-mobile-margin;
    @include screen(md) {
        margin-left: $container-margin;
        margin-right: $container-margin;
        width: $container-width;
        @include container(md);
    }
}
.container-result {
    border-radius: 20px;
    background: $dark-gray;
    padding: $padding-1;
    margin-left: $container-mobile-margin;
    margin-right: $container-mobile-margin;
    @include screen(md) {
        padding: $padding-1 $padding-2;
        margin-left: $container-margin;
        margin-right: $container-margin;
        width: $container-width;
        @include container(md);
    }
}

// nav
nav {
    // border-bottom: $border-width $border-style lighten($gray, 35%);
    background: $white;
    a {
        color: $font-color;
        &:hover, &:active {
            color: $navy;
        }
    }
}
.nav {
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-400;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .nav-links {
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
        @include screen(md) {
            grid-gap: $margin-1;
        }
    }
    .link {
        font-size: $font-size * $small;
        color: $navy;
        border-radius: 12px;
        padding: .5rem 1rem;
        &:hover, &:active {
            background-color: transparentize($color: $navy, $amount: 0.94);
        }
    }
    .nav-link-bg {
        background-color: transparentize($color: $navy, $amount: 0.94);
    }
}
.logo {
    // margin-right: 2rem;
    svg {
        fill: $white;
        width: 4rem;
    }
}

/* main */
main {
    padding-bottom: 8rem;
    a {
        &:hover, &:active {
            color: $navy;
        }
    }
}

/* footer */
footer {
    // background: $dark-gray;
    font-family: $font-family-sans-serif;
    border-top: 1px solid $dark-gray;
    position: absolute;
    bottom: 0;
    color: lighten($gray, 40%);
    width: 100%;
    .footer-content {
        padding: $padding-2 0;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .logo-footer {
        margin-right: 2rem;
        svg {
            fill: $white;
            width: 3rem;
        }
    }
}